html {
    background: url('SFB/bg_tiled.png') repeat-y top center;
}

* {
    font-family: Georgia, Times, serif;
}

body {
    margin: 0 auto;
    padding: 0 0 1em 0;
    font-size: small;
    width: 770px;
}

h1, h2 {
    background: #8ae65c url('SFB/th_bg.gif') repeat-x top left;
    font-size: 120%;
    color: #124f01;
    padding: 1ex;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    padding: 0;
    border: 0;
    margin: 0 0 1ex 0;
    font-weight: bold;
    text-align: center;
}

img {
    border: 0;
}

br.float {
    clear: both;
    height: 0;
}

a:link, a:visited {
    color: #0b3f70;
}

a:hover, a:active {
    color: #000000;
    background: #ffffff;
}

dl {
    border-top: 1px solid #f2a700;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    margin: 0 10px;
    padding: 1ex;
    background: #efef00 url('SFB/td_bg.gif') repeat-x top left;
}

dt {
    font-weight: bold;
}

/* layout */

div.hide {
    width: 100%;
    height: 110px;
    background: url('SFB/title.png') no-repeat top center;
    text-indent: -100000px;
}

#navbar {
    margin: 0 15px;
}

#content {
    clear: both;
    padding: 0 5px;
}

#switcher {
    font-weight: normal;
    clear: both;
    text-align: center;
    background: #80c1ff url('SFB/nav_bg.gif') repeat-x top left;
    margin: 0 15px;
    padding: 1ex;
}

form.paypal {
    margin: 0 15px;
    padding: 1ex 0;
    text-align: center;
    border-top: 1px solid #f2a700;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    background: #efef00 url('SFB/td_bg.gif') repeat-x top left;
}

form.paypal p {
    font-weight: normal;
    margin: 0;
}

form.paypal input {
    border: 0;
    margin: 0;
    padding: .5ex 0 1ex;
    color: #0000ff;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}

form.paypal input:hover {
    background: #ffffff;
    color: #000000;
}

/* navigation bar */

#navbar ul {
    margin: 0 0 1em 0;
    padding: .8ex 5px;
    list-style: none;
    width: 730px;
    float: left;
    background: #80c1ff url('SFB/nav_bg.gif') repeat-x top left;
}

#navbar li {
    float: left;
    margin: 0;
    padding: 0;
}

#navbar a:link, #navbar a:visited {
    display: block;
    padding: 1px .8ex;
    font-weight: bold;
    text-decoration: none;
}

#navbar a:hover, #navbar a:active {
    text-decoration: underline;
}

/* boxed paragraphs */

.boxed {
    padding: 5px;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
}

p.boxed {
    text-align: left;
    font-weight: normal;
    border-top: 1px solid #f2a700;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    background: #efef00 url('SFB/td_bg.gif') repeat-x top left;
}

p.boxed strong {
    display: block;
}

p.boxed .edit {
    display: block;
    float: right;
}

/* general table styles */

table {
    border-collapse: collapse;
    width: 740px;
    margin: 0 auto 1em;
    border-bottom: 1px solid #a0a0a0;
}

table.float {
    width: 365px;
    margin: 0 0 1em 10px;
    display: inline;
    float: left;
}

td, th {
    padding: 2px;
    background: #efef00 url('SFB/td_bg.gif') repeat-x top left;
    color: #1a1a1a;
    border-right: 1px solid #a0a0a0;
    border-top: 1px solid #f2a700;
}

thead td, thead th, tfoot td, tfoot th, tbody.head td, tbody.head th,
table.boxind.head td,
table.stats tbody.filter td, table.stats tbody.filter th,
table.stats tbody.header td, table.stats tbody.header th {
    background: #8ae65c url('SFB/th_bg.gif') repeat-x top left;
    color: #124f01;
    border: 0;
    font-weight: bold;
    text-align: center;
}

/* score tables */

table.score thead th {
    width: 30px;
    text-align: center;
}

table.score thead td {
    width: 210px;
    text-align: left;
}

table.score tbody th {
    text-align: left;
}

table.score tbody th span.record {
    font-weight: normal;
}

table.score tbody td {
    text-align: center;
}

table.score tbody td.final {
    font-weight: bold;
}

table.score tbody.stats td {
    text-align: left;
}

table.score em {
    font-weight: bold;
    font-style: normal;
}

table.score.extended {
    width: 665px;
}

table.score.extended th.game {
    width: 75px;
}

table.score.extended th.coach {
    width: 150px;
}

/* main page */

div.sidebar, div.latest {
    float: right;
    display: inline;
    width: 150px;
    margin: 0 10px 0 0;
}

div.sidebar div.latest {
    margin: 0;
    width: auto;
    display: block;
    float: none;
}

div.latest h1 {
    margin: 0;
    border-bottom: 1px solid #f2a700;
}

div.latest ul, div.latest p {
    margin: 0 0 10px 0;
    padding: 1ex;
    list-style: none;
    border: 1px solid #a0a0a0;
    border-width: 0 1px 1px 0;
    background: #efef00 url('SFB/td_bg.gif') repeat-x top left;
}

div.news {
    width: 580px;
    margin: 0 0 0 10px;
}

div.news hr {
    display: none;
}

div.news h1 {
    display: none;
}

div.message {
    float: left;
    display: inline;
    background: red;
    width: 579px;
    margin: 0 0 10px 0;
    border: 1px solid #a0a0a0;
    border-width: 0 1px 1px 0;
}

div.message div.head {
    background: #8ae65c url('SFB/th_bg.gif') repeat-x top left;
    color: #124f01;
}

div.message h2 {
    border: 0;
    margin: 0;
    border-bottom: 1px solid #f2a700;
}

div.message p.date {
    float: right;
    background: transparent;
}

div.message p {
    margin: 0;
    font-weight: normal;
    padding: 1ex;
    text-align: left;
    background: #efef00 url('SFB/td_bg.gif') repeat-x top left;
}

div.message strong {
    display: block;
}

div.message img {
    float: right;
    display: inline;
    border: 1px solid black;
    margin: 0 0 1ex 1ex;
}

/* page 'news' */

table.news {
    width: 600px;
}

table.news .actions {
    width: 50px;
    text-align: center;
}

table.news .date {
    width: 200px;
    text-align: center;
}

/* page 'teams' */

table.teams tbody th {
    width: 225px;
    text-align: left;
}

table.teams tbody td {
    width: 140px;
}

/* page 'schedule' */

p.opendate {
    text-align: left;
    margin-left: 10px;
}

div.times {
    float: right;
    display: inline;
    margin: 0 10px 1ex 0;
}

div.times p {
    text-align: right;
    margin: 0;
}

table.leaders {
    width: 240px;
    margin-bottom: 1ex;
}

table.leaders thead th {
    width: 240px;
}

table.leaders tbody th {
    font-weight: normal;
    text-align: left;
    width: 180px;
}

table.leaders tbody td {
    text-align: right;
    width: 4ex;
}

table.leaders tbody td.image {
    text-align: center;
    width: 60px;
}

table.leaders tbody td.empty {
    text-align: center;
    width: 240px;
}

table.leaders img {
    width: 60px;
}

/* page 'standings' */

table.standings tr.spacer td {
    border: 0;
    height: 1.2em;
    background: transparent;
}

table.standings tbody.head th {
    text-align: center;
}

table.standings tbody th {
    text-align: left;
}

table.standings tbody td {
    text-align: center;
}

/* page 'box score' */

table.boxteam {
    width: 400px;
}

table.boxteam thead th {
    width: 100px;
}

table.boxteam thead td {
    width: 200px;
    text-align: left;
}

table.boxteam tbody td {
    font-weight: bold;
    text-align: right;
}

table.boxteam tbody th {
    text-align: left;
}

table.boxteam tr.sub th {
    font-weight: normal;
    padding-left: 2em;
}

table.boxteam tr.sub td {
    font-weight: normal;
}


table.boxind {
    width: 365px;
}

table.boxind.head td {
    width: 365px;
    text-transform: uppercase;
}

table.boxind thead td {
    width: 300px;
    text-align: left;
}

table.boxind thead th {
    width: 35px;
    white-space: nowrap;
}

/* page 'stats' */

table.stats tbody.filter img {
    width: 20px;
    height: 20px;
}

table.stats tbody td {
    text-align: center;
}

table.stats tbody td.name,
table.stats tbody td.team {
    text-align: left;
}

table.stats tbody tr.user td, table.stats tr.user th {
    background: #8ae65c url('SFB/th_bg.gif') repeat-x top left;
    color: #124f01;
    border: 0;
}

/* page 'records' */

div.index ul {
    list-style: none;
    margin: 0 10px;
    text-align: center;
}

div.index li {
    font-weight: bold;
    display: inline;
    padding: 0 1ex;
}

div.records h1 {
    clear: both;
    margin: 0 10px 1em 10px;
}

div.records table {
    width: 240px;
}

div.records thead th {
    width: 240px;
}

div.records td.name {
    width: 160px;
}

div.records td.image {
    vertical-align: top;
    text-align: center;
    width: 60px;
}

div.records td.value {
    text-align: right;
    width: 40px;
}

div.records span.annotate {
    font-size: 80%;
}

/* page 'links' */

table.links {
    width: 600px;
}

/* page 'profile' */

p.profile {
    font-weight: normal;
    text-align: left;
    padding: 1ex;
    margin: 0 10px;
    border-top: 1px solid #f2a700;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    background: #efef00 url('SFB/td_bg.gif') repeat-x top left;
}

table.head2head tbody th {
    text-align: left;
    vertical-align: top;
    width: 140px;
}

table.head2head tbody td {
    text-align: center;
    vertical-align: top;
    width: 120px;
}

table.head2head span {
    cursor: pointer;
}

table.head2head ul {
    padding: 1ex;
    margin: 1ex 0 0 0;
    list-style: none;
    text-align: left;
    background: #8ae65c url('SFB/th_bg.gif') repeat-x top left;
    display: none;
}

table.head2head li {
    padding: 0;
    white-space: nowrap;
}

/* page 'team schedule' */

table.teamsked tbody td {
  text-align: center;
}

table.teamsked tbody th {
  text-align: left;
  font-weight: normal;
}

/* page 'team roster' */

table.roster tbody th {
    font-weight: bold;
    text-align: left;
}

table.roster tbody td {
    text-align: center;
}

div.roster {
    width: 740px;
    height: 64em;
    margin: 0 10px;
}

div.roster div {
    background: #efef00;
    border: 1px solid #a0a0a0;
    border-width: 0 1px 1px 0;
    left: 10px;
    position: absolute;
    width: 80px;
    height: 7em;
}

div.roster p {
    background: #8ae65c url('SFB/th_bg.gif') repeat-x top left;
    border-bottom: 1px solid #f2a700;
    font-weight: bold;
    margin-bottom: 0;
    padding: 2px 0;
}

div.roster div.info {
    display: none;
    border: 1px solid black;
    background: #ffffcc;
    color: black;
    width: 130px;
    height: auto;
    z-index: 300;
    padding: 0 2px 2px 2px;
}

div.roster div.info p {
    border: 0;
    background: transparent;
}

div.roster ol, div.roster ul {
    background: #efef00 url('SFB/td_bg.gif') repeat-x top left;
    padding: 2px;
    margin: 0;
    list-style: none;
}

div.roster ul {
    background: transparent;
}

div.info img {
    float: left;
    margin-right: 2px;
}

div.info li {
    text-align: left;
}

div.roster li {
    cursor: pointer;
}

div.roster div.qb {
    margin-top: 40em;
    margin-left: 287px;
}

div.roster div.hb {
    margin-top: 56em;
    margin-left: 287px;
}

div.roster div.fb {
    margin-top: 48em;
    margin-left: 287px;
}

div.roster div.wr1 {
    margin-top: 36em;
    margin-left: 655px;
}

div.roster div.wr2 {
    margin-top: 32em;
    margin-left: 4px;
}

div.roster div.te {
    margin-top: 32em;
    margin-left: 542px;
}

div.roster div.lt {
    margin-top: 32em;
    margin-left: 117px;
}

div.roster div.lg {
    margin-top: 32em;
    margin-left: 202px;
}

div.roster div.c {
    margin-top: 32em;
    margin-left: 287px;
}

div.roster div.rg {
    margin-top: 32em;
    margin-left: 372px;
}

div.roster div.rt {
    margin-top: 32em;
    margin-left: 457px;
}

div.roster div.re {
    margin-top: 24em;
    margin-left: 127px;
}

div.roster div.rdt {
    margin-top: 24em;
    margin-left: 257px;
}

div.roster div.ldt {
    margin-top: 24em;
    margin-left: 387px;
}

div.roster div.le {
    margin-top: 24em;
    margin-left: 517px;
}

div.roster div.rolb {
    margin-top: 16em;
    margin-left: 122px;
}

div.roster div.mlb {
    margin-top: 14em;
    margin-left: 302px;
}

div.roster div.lolb {
    margin-top: 16em;
    margin-left: 472px;
}

div.roster div.cb1 {
    margin-top: 22em;
    margin-left: 655px;
}

div.roster div.cb2 {
    margin-top: 22em;
    margin-left: 4px;
}

div.roster div.fs {
    margin-top: 1em;
    margin-left: 202px;
}

div.roster div.ss {
    margin-top: 4em;
    margin-left: 402px;
}

div.roster div.k {
    margin-top: 56em;
    margin-left: 570px;
}

div.roster div.p {
    margin-top: 56em;
    margin-left: 655px;
}

